@model string

@{
    ViewBag.Title = "Application not found";
    Layout = "~/Views/Error/_Layout.cshtml";
}

<h2>
    Application not found
</h2>
<p>
    Application <code>@Model</code> has not been found.
</p>
<p>
    Try rewrite the URL, or <a href="@Url.Content("~/")">go back to the home page</a>.
</p>

