
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Error/_Layout.cshtml";
}

<h2>
    Error
</h2>
<p>
    Sorry, an error has occurred.
</p>
<p>
    Try rewrite the URL, or <a href="@Url.Content("~/")">go back to the home page</a>.
</p>
