
@{
    ViewBag.Title = "Index";
}

<h2>Welcome!</h2>
<p>Please navigate to specific application by the URL provided to you by the developer.</p>
<div>
    <img src="~/Content/folderist.svg" width="400" height="400"/>
</div>